# ---- Build artifacts ----
/build*/
/out*/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile

# ---- vcpkg ----
/vcpkg_installed/
/vcpkg/

# ---- Project binaries ----
/PathfindingVisualizer
*.o
*.a
*.so
*.dylib
*.exe
*.out

# ---- Logs ----
*.log

/.vscode
